@import '../lib/chroma-light';

// for github theme, add a background color
.chroma {
  background-color: #f6f8fa;
  line-height: 1.5em;
  font-size: 14px;
}

.dark {
  @import '../lib/chroma-dark';
}
